requests
colorama
beautifulsoup4
dnspython
phonenumbers
Pillow
pefile
cryptography
flask
pyngrok
scapy
impacket
pymysql
paramiko
discord-webhook
keyboard
pyautogui
opencv-python
pywin32
python-magic-bin
psutil
