requests
colorama
beautifulsoup4
dnspython
phonenumbers
cryptography
Pillow
scapy
paramiko
pymysql
impacket
flask
pyngrok
discord-webhook
keyboard
pyautogui
opencv-python
pywin32
pefile
python-magic-bin
psutil
